#about {
    text-align: center;
    ul {
        list-style: none;
        li {
            display: block;
            @include span-columns(4);
            text-align: center;
            [class^="icon-"], [class*=" icon-"] {
                font-size: 7rem;
                display: block;
                text-align: center;
                margin-bottom: 1rem;
            }
        }
    }
}