.wrapper {
    padding: 3rem 3rem;
    border-bottom: 4px solid lighten($header-bg, 20%);
    &:nth-child(odd) {
        background: lighten($header-bg, 30%);
    }
    &:nth-child(even) {
        //background: lighten($header-bg, 40%);
        background: #fefefe;
    }
}

section {
    @include outer-container;
}