#work {
    ul {
        list-style: none;
        li {
            transition-property:margin-top,padding-bottom;
            transition-duration:.2s;
            font-size: 0;
            display: block;
            @include span-columns(4);
            @include omega(3n);
            margin-bottom: flex-gutter();
            img {
                width: 100%;
            }
            &:hover {
                margin-top: -10px;
                padding-bottom: 10px;
            }
        }
    }
}