@import "bourbon";
@import "settings";
@import "neat";
// html5 reset
@import "html5reset-1.6.1";

// SETUP
* { box-sizing: border-box; }

//COLORS
$header-bg: #F3B557; //original #2E8EDB;
$text-dark: #3F474F; 

html { font-size: 16px; } //1rem is 16px


// TYPOGRAPHY
@import "typography";

// LAYOUT
@import "layout";

// CONTENT
@import "header";
@import "about";
@import "work";

// UTILITY
.center {
    text-align: center;
}
body .sqs-wrapper a#sqs-powered {
    display: none  !important;
}

